@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

html,
body {
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  color: #1E1B1B;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1310px;
  height: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.heading {
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
  letter-spacing: -0.03em;
}

.quick {
  display: none;
  margin-top: 15px;
  position: static;
  border-radius: 59px;
  border: 12px solid rgba(225, 225, 225, 0.43);
  overflow: hidden;
  max-width: 326px;
}

.rating {
  display: none;
  margin-top: 15px;
  max-width: 326px;
  border-radius: 59px;
  border: 12px solid rgba(225, 225, 225, 0.43);
  box-shadow: 0px 28px 118px rgb(109 108 115 / 12%);
  overflow: hidden;
}

.rating .desca {
  width: 100%;
}

/* ---------------------------------------------------------------------------------------- */
.header {
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
}

.header__top-inner {
  display: flex;
  padding: 30px 0;
  align-items: center;
}

.header__nav {
  margin-left: auto;
}

.header__nav-list {
  display: flex;
}

.header__nav-item {
  margin-right: 40px;
}

.header__nav-item:last-child {
  margin-right: 32px;
}

.header__nav-link {
  display: block;
  line-height: 28px;
  transition: all .3s;
}

.header__nav-link:hover {
  transform: scale(1.05);
}

.header__line {
  opacity: 0.36;
  height: 42px;
  border: 1px solid #939191;
  margin-right: 32px;
}

.header__contact {
  display: flex;
  align-items: center;
}

.header__icon {
  margin-right: 14px;
}

.title {
  font-weight: 500;
  line-height: 24px;
  opacity: 0.7;
}

.text-bottom {
  font-size: 18px;
  line-height: 1.75;
}

/* ---------------------------------------------------------------------------------------- */
.header__body {
  flex-grow: 1;
}

.header__body-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: auto 0;
}

.header__body--content {
  max-width: 625px;
  margin-right: 20px;
}

.header__title {
  font-weight: 800;
  font-size: 64px;
  line-height: 84px;
  letter-spacing: -0.03em;
}

.header__buttons {
  display: flex;
  margin-top: 25px;
  white-space: nowrap;
}

.header__btn {
  margin-right: 32px;
}

.button {
  display: inline-block;
  padding: 16px 40px;
  background: #FF6433;
  border-radius: 12px;
  font-size: 18px;
  line-height: 1.75;
  color: #FFFFFF;
  transition: 0.3s;
  white-space: nowrap;
}

.button:hover {
  transform: scale(1.05);
}

.header__btn-play {
  display: flex;
  align-items: center;
}

.play {
  margin-right: 8px;
}

.header__time {
  display: flex;
  align-items: center;
  margin-top: 48px;
}

.header__img-time {
  margin-right: 14px;
}

.header__body-img {
  position: relative;
}

.header__quick {
  position: absolute;
  top: 69px;
  left: -43px;
  border-radius: 59px;
  border: 12px solid rgba(225, 225, 225, 0.43);
  box-shadow: 0px 28px 118px rgba(109, 108, 115, 0.12);
  overflow: hidden;
}

.header__quick-inner {
  display: inline-flex;
  align-items: center;
  width: 282px;
  height: 102px;
  background: #FFFFFF;
}

.header__quick-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  background: #5CBA99;
  border-radius: 50%;
  margin-left: 14px;
}

.number {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
  margin-right: 3px;
}

.size {
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
}

.name {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  margin-left: 15px;
}

.header__rating {
  position: absolute;
  top: 70%;
  left: 48%;
  border-radius: 59px;
  border: 12px solid rgba(225, 225, 225, 0.43);
  box-shadow: 0px 28px 118px rgba(109, 108, 115, 0.12);
  overflow: hidden;
}

.desca {
  width: 326px;
}

.header__rating-desc {
  display: inline-flex;
  flex-direction: column;
  margin-left: 38px;
}

.chet {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  color: #000000;
}

.header__rating-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  opacity: 0.7;
  margin-right: 15px;
}

.jq-ry-container>.jq-ry-group-wrapper>.jq-ry-group>svg {
  margin: 0 7px 0 0;
}

/* --------------------- */
.offer {
  background: #F2F2F2;
}

.main__offer {
  padding: 132px 0 188px 0;
}

.offer__body {
  position: relative;
}

.offer__top {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 64px;
  max-width: 858px;
}

.offer__subtitle {
  letter-spacing: -0.03em;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 8px;
}

.offer__title {
  letter-spacing: -0.03em;
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
}

.offer__list {
  display: grid;
  grid-template: auto auto / repeat(4, auto);
  gap: 8px 8px;
  margin-bottom: 32px;
}

.offer__item {
  padding: 65px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  transition: 0.3s;
}

.offer__item svg {
  width: 50px;
  height: 50px;
  margin-bottom: 16px;
}

.offer__item-active {
  transition: 0.3s;
  background: #FF6433;
}

.offer__item-active path {
  fill: #fff;
}

.offer__item-active .offer__text {
  color: #FFFFFF;
}

.offer__text {
  letter-spacing: -0.03em;
  font-size: 24px;
  line-height: 36px;
  white-space: nowrap;
}

.offer__learn {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  right: 0;
  transition: 0.3s;
}

path {
  transition: 0.3s;
}

.offer__learn:hover {
  color: red;
}

.offer__learn:hover path {
  fill: red;
}

.offer__learn-text {
  font-size: 18px;
  line-height: 175%;
}

.offer__learn-strel {
  width: 53px;
  height: 16px;
  margin-left: 16px;
}

/* --------------------- */
.main__follow {
  padding: 138px 0 134px 0;
}

.follow__container {
  max-width: 1090px;
  height: 100%;
  margin: 0 auto;
}

.follow__body {
  display: flex;
  justify-content: space-between;
}

.follow__content {
  max-width: 525px;
  margin-right: 30px;
}

.follow__title {
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
  letter-spacing: -0.03em;
  margin-bottom: 16px;
}

.follow__text {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  opacity: 0.6;
  margin-bottom: 32px;
  max-width: 437px;
}

.follow__row {
  max-width: 435px;
}

.follow__item {
  margin-bottom: 2px;
}

.follow__item:last-child {
  margin-bottom: 0;
}


.follow__item-top {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.follow__ellipse {
  width: 72px;
  height: 72px;
  background: #661CE7;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-right: 29px;
  overflow: hidden;
}

.follow__ellipse svg {
  position: absolute;
  top: 53px;
}

.follow__ellipse span {
  font-weight: 700;
  font-size: 32px;
  line-height: 24px;
  color: #FFFFFF;
}

.follow__item-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.03em;
}

.follow__item-title span {
  display: none;
}

.follow__item-text {
  max-width: 335px;
  font-size: 18px;
  line-height: 175%;
  opacity: 0.6;
  margin-left: 103px;
  position: relative;
}

.follow__item-text span {
  position: absolute;
  top: 9px;
  left: -68px;
  width: 2px;
  height: 75%;
}

.follow__item-text span::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background: url('../img/follow/Line.svg');
}

/* --------------------- */

.avto__box {
  display: none;
  max-width: 730px;
  padding: 128px 80px;
  background: #FF6433;
  color: white;
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
  letter-spacing: -0.03em;
}

.avto__box-button {
  font-size: 18px;
  line-height: 175%;
  display: inline-block;
  background: #1E1B1B;
  border-radius: 12px;
  letter-spacing: 0.03em;
  margin: 20px 0px 0 0;
  padding-left: 30px;
}

.avto__image-box {
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.avto__image-box img {
  width: 100%;
  object-fit: cover;
}

.avto__block {
  padding: 128px 80px 240px;
  position: absolute;
  top: 0;
  left: 16.4%;
  height: 100%;
  max-width: 730px;
  background: #FF6433;
}

.avto__block-text {
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
  letter-spacing: -0.03em;
  color: #FFFFFF;
}

.avto__button {
  background: #1E1B1B;
  position: absolute;
  top: 290px;
  left: 65px;
}

.avto__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 48px 0;
}

.avto__item {
  display: flex;
  flex-direction: column;
}

.avto__number {
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
  letter-spacing: -0.03em;
  color: #661CE7;
}

.avto__text {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  opacity: 0.7;
}

/* --------------------- */
.main__brands {
  padding: 128px 0 83px;
}

.brands {
  background: #E2E6E9;
}

.brands__title {
  text-align: center;
  margin-bottom: 31px;
}

.brands__list {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(5, 1fr);
  gap: 38px 25px;
}

.brands__item-link {
  display: block;
  overflow: hidden;
}

.brands__item-link:hover img {
  filter: grayscale(0);
  opacity: 1;
  transition: all .3s;
}

.brands__item-link img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: grayscale(1);
  opacity: 0.6;
  transition: all 1s;
}

/* --------------------- */
.main__blog {
  padding: 131px 0 136px;
}


.blog__heading {
  margin-bottom: 26px;
}

.headig__title {
  margin-bottom: 47px;
}

.heading__list {
  display: flex;
  flex-wrap: wrap;
}

.heading__item button {
  transition: 0.4s;
  margin-bottom: 20px;
}

.heading__item:hover button {
  transition: 0.3s;
  color: red;
  opacity: 0.8;
}

.heading__item button {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.03em;
  margin-right: 30px;
  background: none;
}

.heading__item:last-child {
  margin-right: 0;
}

.blog__list {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  gap: 64px 32px;
}

.blog__item {
  transition: 0.3s;
}

.blog__item:hover {
  transform: scale(0.95);
}

.blog__img-box {
  border-radius: 8px;
  overflow: hidden;
}

.blog__img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog__desc {
  max-width: 405px;
  padding-top: 24px;
}

.blog__desc-subtitle {
  line-height: 28px;
  color: #939191;
  margin-bottom: 16px;
}

.blog__desc-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.03em;
  margin-bottom: 16px;
}

.blog__desc-text {
  line-height: 28px;
  color: #232536;
}

/* --------------------- */
.main__about {
  padding: 126px 0;
}

.about {
  background: #F2F2F2;
}

.about__inner {
  position: relative;
}

.about__heading {
  max-width: 910px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 75px;
}

.about__slide-inner {
  display: grid;
  grid-template: auto / repeat(2, auto);
  gap: 0 48px;
  margin-bottom: 45px;
}

.about__item-comment {
  padding: 72px;
  background: #FFFFFF;
  border: 1px solid rgba(172, 172, 172, 0.29);
  border-radius: 8px;
}

.about__item-heading {
  display: flex;
  margin-bottom: 25px;
}

.about__item-avatar {
  border-radius: 150px;
  margin-right: 16px;
  width: 64px;
  height: 64px;
}

.about__item-name {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
}

.about__item-location {
  line-height: 28px;
  color: #939191;
}

.about__text {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
}

.about__arrows {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
}

.about__arrow {
  padding: 5px;
}

.about__arrow-prev {
  margin-right: 50px;
  position: relative;
  z-index: 5;
}

.about__arrow-prev::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #FFFFFF;
  z-index: -1;
  transition: 0.3s;
}

.about__arrow-prev:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

.about__arrow-next {
  position: relative;
  z-index: 5;
}

.about__arrow-next path {
  transition: 0.3s;
}

.about__arrow-next:hover path {
  fill: #F2F2F2;
}

.about__arrow-next::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #1E1B1B;
  z-index: -1;
  transition: 0.3s;
}

.about__arrow-next:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

.about__dots .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-dots li {
  margin-right: 15px;
}

.slick-dots button {
  font-size: 0;
  background-color: transparent;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
}

.slick-dots button::before {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #939191;
}

.slick-dots .slick-active button::before {
  background-color: #FF6433;
  transition: .5s;
}

/* --------------------- */
.main__asked {
  padding: 128px 0;
}

.asked {
  background: #E2E6E9;
}

.asked__title {
  text-align: center;
  margin-bottom: 85px;
}

.asked__acc {
  max-width: 900px;
  margin: 0 auto;
}

.asked__acc-item {
  background-color: #fff;
  padding: 32px 40px;
  margin-bottom: 12px;
}

.asked__acc-item-inner {
  display: block;
  max-width: 815px;
  position: relative;
}

.asked__acc-item-block {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 48px;
  background-color: #FF6433;
}

.asked__acc-item-block::before,
.asked__acc-item-block::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 2px;
  border-radius: 5px;
  background-color: #fff;
  transition: 0.3s;
}

.asked__acc-item-block::after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.asked__acc-item-inner--active .asked__acc-item-block::after {
  transform: translate(-50%, -50%) rotate(0deg);
}

.asked__acc-head {
  font-weight: 600;
  font-size: 24px;
  line-height: 48px;
  display: flex;
  align-items: center;
  letter-spacing: -0.03em;
  margin-right: 55px;
}

.asked__acc-text {
  display: none;
  max-width: 700px;
  margin-top: 4px;
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  color: #939191;
}

/* --------------------- */
.main__with {
  padding-top: 121px;
  margin-bottom: -90px;
}

.with__inner {
  display: flex;
  justify-content: space-between;
}

.with__content {
  margin-right: 30px;
  padding-right: 140px;
}

.with__heading {
  font-weight: 800;
  font-size: 64px;
  line-height: 84px;
  letter-spacing: -0.03em;
  margin-bottom: 48px;
}

.with__input {
  width: 100%;
  padding: 23px 40px;
  display: block;
  background: #F2F2F2;
  border-radius: 2px;
  margin-bottom: 4px;
}

.with__input:nth-child(4) {
  margin-bottom: 48px;
}

.with__input::placeholder {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #1E1B1B;
}

.with__info {
  margin: 200px 0;
}

.with__info-item {
  margin-bottom: 32px;
}

.with__info-item:last-child {
  margin-bottom: 0;
}

.with__info-name {
  line-height: 28px;
  opacity: 0.7;
  margin-bottom: 2px;
}

.with__info-content {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
}

.with__map {
  position: relative;
  width: 100%;
  height: 512px;
  z-index: 5;
}

.with__map iframe {
  width: 100%;
  height: 100%;
}

/* --------------------- */
.footer {
  color: #fff;
}

.footer__img-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.footer__img-box img {
  width: 100%;
  height: 100%;
}

.footer__center {
  background: #1E1B1B;
  opacity: 0.98;
  padding: 128px 0;
}

.footer__center-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__content {
  max-width: 465px;
  margin-right: 30px;
}

.footer__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
  letter-spacing: -0.03em;
  color: #FFFFFF;
  margin-bottom: 64px;
}

.footer__soc {
  display: flex;
}

.footer__soc-item {
  margin-right: 24px;
}

.footer__soc-item path {
  transition: all .3s;
}

.footer__soc-item:hover path {
  fill: red;
}

.footer__soc-item:last-child {
  margin-right: 0;
}

.footer__soc-link {
  display: block;
}

.footer__info {
  max-width: 470px;
  margin-right: 150px;
}

.footer__info-item {
  margin-bottom: 32px;
}

.footer__info-name {
  opacity: 0.6;
  font-size: 18px;
  line-height: 175%;
  margin-bottom: 8px;
}

.footer__info-content {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
}

.footer__down {
  background: #1E1B1B;
  padding: 65px 0;
}

.footer__down-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  margin-right: 30px;
}

.footer__nav {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
}

.footer__nav-list {
  display: flex;
}

.footer__nav-item {
  margin-right: 36px;
  transition: all .3s;
}

.footer__nav-item:hover {
  transform: scale(1.1);
}

.footer__nav-item:last-child {
  margin-right: 0;
}

.footer__nav-link {
  white-space: nowrap;
}

.footer__desc {
  margin-left: 30px;
  line-height: 28px;
  color: #939191;
}

/* --------------------- */

@media (max-width: 1240px) {
  .header__body-img img {
    width: 500px;
  }

  .header__body--content {
    max-width: 475px;
  }

  .header__title {
    font-size: 52px;
  }

  .header__rating {
    left: 30%;
  }

  /* ------------------------ */
  .offer__title {
    font-size: 40px;
  }

  .offer__list {
    grid-template: repeat(4, auto) / repeat(2, auto);
  }
}

@media (max-width: 1045px) {
  .header__body-img {
    display: none;
  }

  .quick,
  .rating {
    display: block;
  }

  /* ---------------------- */
  .with__heading {
    font-size: 40px;
  }
}

@media (max-width: 950px) {
  .follow__title {
    font-size: 45px;
  }

  .follow__body {
    flex-direction: column;
  }

  .follow__content {
    margin-right: 0;
    margin-bottom: 15px;
  }

  /* =================================== */
  .brands__list {
    grid-template: repeat(5, 1fr) / repeat(2, 1fr);
  }
}

@media (max-width: 900px) {
  .burger {
    position: fixed;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all .3s;
  }

  .overley {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 50;
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
  }

  .overley--show {
    visibility: visible;
    opacity: 1;
  }

  .burger--on {
    top: 15px;
    right: 15px;
    background-color: rgba(92, 186, 153, 0.5);
  }

  .burger span {
    display: block;
    margin: 5px 0;
    border-radius: 8px;
    width: 30px;
    height: 3px;
    background-color: black;
  }

  .burger::before,
  .burger::after {
    content: "";
    display: block;
    border-radius: 8px;
    width: 30px;
    height: 3px;
    background-color: black;
    transition: all .3s;
  }

  .burger--cross span {
    display: none;
  }

  .burger--cross::before {
    transform: translate(20%, 50%) rotate(45deg);
  }

  .burger--cross::after {
    transform: translate(20%, -50%) rotate(-45deg);
  }

  .header__top {
    position: fixed;
    z-index: 50;
    right: 0;
    left: 0;
    background-color: white;
    min-width: 320px;
    transition: all .3s;
    visibility: hidden;
    opacity: 0;
  }

  .header__top--open {
    visibility: visible;
    opacity: 1;
  }

  .header__top-inner {
    padding: 70px 0;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .header__logo {
    margin-bottom: 10px;
  }

  .header__nav {
    margin: 0 auto;
    flex-grow: 1;
    display: flex;
    align-items: center;
  }

  .header__nav-list {
    flex-direction: column;
    align-items: center;
  }

  .header__nav-item {
    margin-right: 0;
  }

  .header__nav-link {
    padding: 15px 0;
  }

  .header__nav-item:last-child {
    margin-right: 0;
  }

  .header__line {
    display: none;
  }

  .header__contact {
    margin-top: 10px;
  }

  .header__body {
    padding-top: 165px;
  }

  /* --------------------------- */
  .avto__image-box {
    display: none;
  }

  .avto__box {
    display: block;
    max-width: none;
  }

  /* ------------------------------ */
  .heading {
    font-size: 40px;
  }

  /* ---------------------------------------------- */
  .headig__title {
    margin-bottom: 20px;
  }

  .heading__item button {
    font-size: 28px;
    line-height: 20px;
    margin-right: 25px;
  }

  .blog__list {
    gap: 25px 16px;
  }

  .blog__desc {
    padding-top: 10px;
  }

  .blog__desc-title {
    font-size: 22px;
    line-height: 35px;
    margin-bottom: 6px;
  }

  /* -------------------------------------- */
  .about__slide-inner {
    gap: 0 20px;
  }

  .about__item-comment {
    padding: 20px;
  }

  .about__text {
    font-size: 20px;
  }

  /* ==================================== */
  .footer__center {
    padding: 18px 0;
  }

  .footer__center-inner {
    flex-direction: column;
  }

  .footer__content {
    margin-right: 0;
  }

  .footer__soc {
    margin-bottom: 30px;
  }

  .footer__info {
    margin-right: 0;
  }

  .footer__down {
    padding: 25px 0;
  }

  .footer__down-inner {
    flex-direction: column;
    text-align: center;
  }

  .footer__nav {
    display: none;
  }

  .footer__desc {
    margin: 20px 0 0 0;
  }
}

@media (max-width: 800px) {
  .avto__list {
    flex-direction: column;
    align-items: flex-start;
  }

  /* ------------------------------------- */
  .blog__list {
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  }

  /* --------------------------------- */

  .with__inner {
    flex-direction: column;
  }

  .with__info {
    margin: 30px 0;
  }
}

@media (max-width: 700px) {
  .offer__list {
    grid-template: none;
  }

  /* ------------------------ */
  .about__slide-inner {
    grid-template: none;
    gap: 30px 0;
  }
}

@media (max-width: 550px) {

  .main__offer,
  .main__follow,
  .main__brands,
  .main__blog,
  .main__about,
  .main__asked {
    padding: 50px 0 70px 0;
  }

  .main__with {
    padding-top: 50px;
  }

  .header__body--content {
    max-width: 270px;
    margin-right: 0;
  }

  .header {
    padding-bottom: 0;
  }

  .header__body {
    padding: 25px 0;
  }

  .header__title {
    font-size: 40px;
  }

  .header__buttons {
    flex-direction: column-reverse;
    align-items: center;
    margin: 0;
  }

  .header__btn {
    margin-right: 0;
    margin-top: 15px;
  }

  .header__time {
    margin-top: 20px;
    justify-content: center;
  }

  .rating,
  .quick {
    margin: 15px auto;
  }

  .header__rating-desc {
    margin-left: 15px;
  }

  /* ----------------------------- */
  .avto__box-text {
    font-size: 30px;
  }

  .avto__number {
    font-size: 45px;
  }

  /* ------------------------- */
  .blog__list {
    grid-template: none;
  }

  /* ------------------------------------ */
  .about__text {
    font-size: 18px;
  }

  .about__arrows {
    display: none;
  }

  /* ------------------------------- */
  .with__content {
    margin: 0;
    padding: 0;
  }

  /* ------------------------- */
  .header__rating-name {
    margin-right: 10px;
  }

  .jq-ry-container>.jq-ry-group-wrapper>.jq-ry-group>svg {
    margin: 0;
  }

  /* =========================== */
  .footer__title {
    font-size: 40px;
  }

  .footer__info-content {
    font-size: 21px;
  }
}

@media (max-width: 460px) {
  .follow__ellipse {
    display: none;
  }

  .follow__item-text {
    margin-left: 0;
  }

  .follow__item-title span {
    color: white;
    display: inline-block;
    background-color: #661CE7;
    border-radius: 50%;
    padding: 0 6px;
    margin-right: 5px;
  }

  /* ===================================== */
}

@media (max-width: 400px) {
  .header__top {
    top: 0;
    bottom: 0;
  }

  /* ------------------------- */
  .offer__title {
    font-size: 30px;
  }
}