@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&display=swap');

html,
body {
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  color: black;
  background: wheat;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

p {
  font-weight: 400;
  font-size: 20px;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1230px;
  height: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

/* ---------------------- */

.header {
}
.container {
}
.header__top {
  margin-top: 100px;
}
.header__nav {
  display: grid;
  grid-template: auto auto / repeat(4, 1fr);
  gap: 15px 15px;
}
.header__link {
  display: inline-block;
  padding: 15px;
  border-radius: 5px;
  background: white;
  color: black;
  transition: .3s;
}

.header__link:hover { 
  color: mediumpurple ;
  transform: scale(1.05);
}

@media (max-width: 385px) {
 
}


/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */